@import "tailwindcss";

@theme {
    --azul-primario: #155DFC;
    --azul-claro: #F1F5F9;
    --fucsia: #E60076;
    --naranja: #FF9A3D;
    --purpura: #9C27B0;
    --verde: #4CAF50;
    --marron: #795548;
}