---
const date = new Date().getFullYear();
---

<footer class="flex flex-col items-center p-12 bg-gray-900 text-white text-center gap-4">
    <div>
        <div class="flex flex-col sm:flex-row gap-12 text-gray-500 font-semibold text-lg mb-4">
            <a class="hover:text-white" href="">Política de Privacidad</a>
            <a class="hover:text-white" href="">Términos y Condiciones</a>
            <a class="hover:text-white" href="">Soporte</a>
            <a class="hover:text-white" href="">Contacto</a>
        </div>
        <p>&copy; {date} Costly App. Todos los derechos reservados.</p>
    </div>
</footer> 