---

---

<header class="fixed top-0 w-full shadow-2xl">
    <nav class="flex justify-between items-center bg-[var(--azul-claro)] px-14 py-6">
        <p class="text-3xl font-bold text-[var(--azul-primario)]">Costly</p>
        <ul class=" flex gap-8">
            <li><a class="font-semibold hover:text-[var(--azul-primario)]" href="#inicio">Inicio</a></li>
            <li><a class="font-semibold hover:text-[var(--azul-primario)]" href="#caracteristicas">Características</a></li>
            <li><a class="font-semibold hover:text-[var(--azul-primario)]" href="#capturas">Capturas</a></li>
            <li><a class="font-semibold hover:text-[var(--azul-primario)]" href="#descarga">Descarga</a></li>
        </ul>
    </nav>
</header>

<script>
// Smooth scrolling para los enlaces de navegación
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e: Event) {
            e.preventDefault();
            const target = document.querySelector(
                (e.currentTarget as HTMLAnchorElement).getAttribute('href')!
            );
            if (target) {
                target.scrollIntoView({
                    behavior: 'smooth',
                    block: 'start'
                });
            }
        });
    });
</script>